<footer class="footer">
    <div class="container">
        <div class="footer__container">
            © 2021 | All Rights Reserved | Developed with
            <div class="heart"></div>
            by
            <a href="#" class="footer__link">Hvorostyany's Seven</a>
        </div>
    </div>
    </div>
</footer>

<div class="js-team"></div>

