$primary-text-color: #000000;
$white-text-color: #ffffff;
$accent-text-color: #ff6b08;
$footer-text-color: #545454;

$modal-text-color-grey: #8c8c8c;
$primary-font-size: 12px;

$primary-bg-color: #ffffff;
$footer-bg-color: #f7f7f7;
$accent-bg-color: #ff6b08;
$pagination-next-btn-bg-color: #f7f7f7;

$primary-text-color-button: #000000;
$hover-text-color-button: #ffffff;
$hover-bgc-button: #ff6b08;
